<h1>Welcome to the Party Zone</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3>Here is a simple application to schedule parties, so login and join the party!</h3>
  </div>
</div>
